
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background: white;
}

body{
    margin: auto;
    width: 1180px;
    font-family: 'Arial';
}

a{
    text-decoration: none;
}